In [1]:
# Import dependencies
import pandas as pd
from sqlalchemy import create_engine
from config import db_password
import cpi

In [2]:
# Load movie dataset
file_path = "actor_bday.csv"
cleaned_actors = pd.read_csv(file_path)
cleaned_actors.head()

            actor        bday
0  Jack Nicholson  1937-04-22
1  Brooke Shields  1965-05-31
2     Mark Hamill  1951-09-25
3     Robert Hays  1947-07-24
4     Chevy Chase  1943-10-08

In [3]:
# Connection string to PostgreSQL
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/group_project"

In [4]:
# Create database engine
engine = create_engine(db_string)

In [5]:
# Export actor awards to a SQL table
cleaned_actors.to_sql(name="actor_bday", con=engine, if_exists='replace', index=False)