In [198]:
# Initial imports
from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
import numpy as np
from config import db_password
from sqlalchemy import create_engine

In [2]:
# Set up Splinter

executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 101.0.4951
Get LATEST chromedriver version for 101.0.4951 google-chrome
There is no [mac64] chromedriver for browser  in cache
Trying to download new driver from https://chromedriver.storage.googleapis.com/101.0.4951.41/chromedriver_mac64.zip
Driver has been saved in cache [/Users/kaiyahull/.wdm/drivers/chromedriver/mac64/101.0.4951.41]

In [3]:
# Visit the filmsite.org page 
url = 'https://www.filmsite.org/oscars3.html'
browser.visit(url)

# Optional delay for loading page
browser.is_element_present_by_css('div.list_text', wait_time=1)

False

In [4]:
# Parse the HTML
html = browser.html
html_soup = soup(html, 'html.parser')

In [128]:
# Get all table elements on the page
table = html_soup.find_all('table')

In [129]:
# Convert the 2nd table "Most Actor-Actress Nominations" to pandas DF
awards_df = pd.read_html(str(table))[1]

In [130]:
# Move first 3 rows - unnecessary info
awards_df = awards_df.iloc[3:]

In [131]:
# Rename columns
awards_df = awards_df.set_axis(['actor/actress', 'nominations', 'awards_won'], axis=1, inplace=False)

In [138]:
# Reset index
awards_df = awards_df.reset_index(drop=True)

In [139]:
# Show dataframe
awards_df.head()

       actor/actress nominations awards_won
0       Meryl Streep          21          3
1  Katharine Hepburn          12          4
2     Jack Nicholson          12          3
3        Bette Davis          10          2
4   Laurence Olivier          10          1

In [180]:
# Convert the 3rd table "Most Actor-Actress Wins"
awards_2_df = pd.read_html(str(table))[2]
awards_2_df.head()

,0,1,2,3
0,Most Actor-Actress Wins See more details here,Most Actor-Actress Wins See more details here,Most Actor-Actress Wins See more details here,Most Actor-Actress Wins See more details here
1,Performers Receiving 2 or More Acting Awards ...,Performers Receiving 2 or More Acting Awards ...,Performers Receiving 2 or More Acting Awards ...,Performers Receiving 2 or More Acting Awards ...
2,Actor/Actress,Awards,Years of Awards,Number of Acting Nominations Received
3,Katharine Hepburn,4,1932/33 1967 1968 1981,12
4,Meryl Streep,3,1979 (S) 1982 2011,21

In [181]:
# Rename columns
awards_2_df = awards_2_df.set_axis(['actor/actress','awards_won', 'years_of_awards','nominations'], axis=1, inplace=False)

In [182]:
# Remove first three rows - unnecessary information
awards_2_df = awards_2_df.iloc[3:]

In [183]:
# Resent index
awards_2_df = awards_2_df.reset_index(drop=True)

In [184]:
# Remove 'years_of_awards' column so both awards dataframes can be merged and duplicates can be removed
awards_2_df = awards_2_df.drop(['years_of_awards'], axis=1)

In [186]:
# Rearrange columns
columns = ["actor/actress", "nominations", "awards_won"]
awards_2_df = awards_2_df.reindex(columns=columns)

In [187]:
# Show dataframe
awards_2_df.head()

       actor/actress nominations awards_won
0  Katharine Hepburn          12          4
1       Meryl Streep          21          3
2     Jack Nicholson          12          3
3     Ingrid Bergman           7          3
4   Daniel Day-Lewis           6          3

In [189]:
awards_all = pd.concat([awards_df, awards_2_df]).drop_duplicates('actor/actress').reset_index(drop=True)

In [191]:
awards_all

        actor/actress nominations awards_won
0        Meryl Streep          21          3
1   Katharine Hepburn          12          4
2      Jack Nicholson          12          3
3         Bette Davis          10          2
4    Laurence Olivier          10          1
..                ...         ...        ...
73       Luise Rainer          2*          2
74       Kevin Spacey          2*          2
75       Hilary Swank          2*          2
76    Christoph Waltz          2*          2
77     Mahershala Ali          2*          2

[78 rows x 3 columns]

In [208]:
# Remove * in columns - website notes * indicates every nomination resulted in an award
awards_all['nominations'] = awards_all['nominations'].str.replace('*', '')

/var/folders/xv/tqm7mx_s52958806kkz2tx2h0000gn/T/ipykernel_72724/650968270.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  awards_all['nominations'] = awards_all['nominations'].str.replace('*', '')

In [213]:
# Convert nominations column to integers
awards_all['nominations'] = awards_all['nominations'].astype(str).astype(int)

In [216]:
# Convert awards_won column to integers
awards_all['awards_won'] = awards_all['awards_won'].astype(str).astype(int)

In [196]:
# Connection string to PostgreSQL
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/group_project"

In [199]:
# Create database engine
engine = create_engine(db_string)

In [218]:
# Export actor awards to a SQL table
awards_all.to_sql(name="actor_awards", con=engine, index=False)

In [201]:
browser.quit()